@charset "utf-8";

// ===================================================================
// 01_サポートするブラウザ
// 02_画像関連
// 03_色の設定
// 04_フォント
// 05_横幅
// 06_よく使うスタイル
// 07_CSS3
// 08_html5
// ===================================================================


// ===================================================================
// #01_サポートするブラウザ
// ===================================================================

	$support-ie6: false;
	$support-ie7: false;
	$support-ie8: true;
	$support-ie9: true;
	$support-mozilla: true;
	$support-webkit : true;
	$support-opera  : true;


// ===================================================================
// #02_画像関連
// ===================================================================

	$img_path: "../common/images/hogehoge/";
	
	//-----------------------------------------------------------------
	//	sprite
	//-----------------------------------------------------------------
	
	@mixin sprite($left,$top){
     background:url('sprite.png') no-repeat $left +px $top +px;
	}
	
	//----------------------------------------------------------------
	//	opacity
	//----------------------------------------------------------------
	
	$opacity_value: .55; 


// ===================================================================
// #03_色の設定
// ===================================================================

	$base: #333; 
	$link: #06f;
	$hover: #00f; 
	
	//----------------------------------------------------------------
	//	Brightness
	//----------------------------------------------------------------
	
	@mixin link_color($color){
		color:$color;
		&:hover{
			color:lighten($color, 20%);
		}
		&:visited{
			color:darken($color, 30%);
		}
	}


// ===================================================================
// #04_フォント
// ===================================================================

	//----------------------------------------------------------------
	//	fontsize
	//----------------------------------------------------------------
	
	$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 
	131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 
	216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%,
	 300%, 308%;
	
	@function fz($size) {
		@if $size < 8 {
			$size: 8;
		}
		@if $size > 40 {
			$size: 40;
		}
		@return nth($fontSizeList, $size - 7);
	}

	//-----------------------------------------------------------------
	//	font-family
	//-----------------------------------------------------------------
	
	@mixin font-family($type, $important: false) {
		@if $important == 'important' or $important == true {
			$important: ' !important';
		} @else {
			$important: '';
		}
		@if $type == sans-serif {
			font-family: sans-serif#{$important};
			@if $support-ie6 {
				_font-family: 'MS PGothic', sans-serif#{$important};
			}
		} @else if $type == serif {
			font-family: serif#{$important};
			@if $support-ie6 {
				_font-family: 'MS Gothic', serif#{$important};
			}
		} @else if $type == meiryo {
			font-family: Meiryo, 'MS PGothic', sans-serif#{$important};
		} @else if $type == monospace {
			font-family: monospace#{$important};
			@if $support-ie6 {
				_font-family: 'MS Gothic', monospace#{$important};
			}
		} @else if $type == hiragino {
			font-family: 'Hiragino Kaku Gothic Pro', Meiryo, 'MS PGothic', sans-serif#{$important};
		} @else if $type == verdana {
			font-family: Verdana, Arial, Helvetica, sans-serif#{$important};
		} @else if $type == tahoma {
			font-family: Tahoma, Arial, Helvetica, sans-serif#{$important};
		}
	}

	
// ===================================================================
// #05_横幅
// ===================================================================

	$page: 720px;   // ページの幅
	$column: 60px;  // 12 columns = 720px
	$gutter: 20px;  // 11 gutters = 220px
	
	//-----------------------------------------------------------------
	//	responsive
	//-----------------------------------------------------------------
	
	@mixin responsive($count:1){
	  width: percentage($column / $page * $count);
	}
	
	//-----------------------------------------------------------------
	//	grid
	//-----------------------------------------------------------------
	
	@mixin grid-unit($span) {
	  float: left;
	  margin-right: $gutter-width;
	  width: ($column * $span) + ($gutter * ($span - 1));
	}


// ===================================================================
// #06_よく使うスタイル
// ===================================================================

	//-----------------------------------------------------------------
	//	clearfix
	//-----------------------------------------------------------------
	
	@mixin clearfix {
		@if $support-ie6 or $support-ie7 {
			*zoom: 1;
		}
		&:after {
			content: "."; 
			display: block;
			clear: both;
			height: 0; 
			visibility: hidden;
		}
	}
	
	//-----------------------------------------------------------------
	//	inline-block
	//-----------------------------------------------------------------
	
	@mixin inline-block {
		 display: inline-block;
		 @if $support-ie6 or $support-ie7 {
			 *display: inline;
			 *zoom: 1;
		 }
	}
	
	//-----------------------------------------------------------------
	//	min-height
	//-----------------------------------------------------------------
	
	@mixin min_height($value) {
		min-height: $value;
		_height: $value;
	}

	
// ===================================================================
// #07_CSS3
// ===================================================================

	$set_prefix: -webkit-, -moz-, -ms-, -o-, '';
	
	//----------------------------------------------------------------
	//	border-radius
	//----------------------------------------------------------------
	
	@mixin border_radius($br_value) {
     @each $prefix in $set_prefix {
          #{$prefix}border-radius: $br_value;
     	}
	}
	
	//----------------------------------------------------------------
	//	gradient(for :Firefox3.6+、Safari 2+、Chrome)
	//----------------------------------------------------------------
	
	@mixin gradient($br_value) {
     @each $prefix in $set_prefix {
          #{$prefix}gradient: $br_value;
     	}
	}
	

// ===================================================================
// #08_html5
// ===================================================================

	$use-html5: true;
	
	@if $use-html5 {
		article,aside,details,figcaption,figure,
		footer,header,hgroup,menu,nav,section {
			display: block;
		}
	}
