@charset "utf-8";

// ===================================================================
// 01_サポートするブラウザ

// ===================================================================

// ===================================================================
// 07_for IE
// ===================================================================

	// min-height
	@mixin min_height($value) {
		min-height: $value;
		@if $support-ie6 {
			_height: $value;
		}
	}
	
	// inline-block
	@mixin inline_block {
		display: inline-block;
		*display: inline;
		@if $support-ie6 or $support-ie7 {
			*zoom: 1;
		}
	}

	// clearfix
	@mixin clearfix {
		@if $support-ie6 or $support-ie7 {
			*zoom: 1;
		}
		&:after {
			content: "."; 
			display: block;
			clear: both;
			height: 0; 
			visibility: hidden;
		}
	}
	
	
	//----------------------------------------------------------------
	// background-size
	//----------------------------------------------------------------
	
	@mixin bg_size($w, $h: auto) {
		@each $prefix in $set_prefix {
			#{$prefix}background-size: $w $h;
		}
	}


// ===================================================================
// 07_CSS3
// ===================================================================

	//----------------------------------------------------------------
	//	border-radius
	//----------------------------------------------------------------
	
	@mixin border_radius($br_value) {
     @each $prefix in $set_prefix {
          #{$prefix}border-radius: $br_value;
     	}
	}
	
	//----------------------------------------------------------------
	//	gradient(for :Firefox3.6+、Safari 2+、Chrome)
	//----------------------------------------------------------------
	
	@mixin gradient($br_value) {
     @each $prefix in $set_prefix {
          #{$prefix}gradient: $br_value;
     	}
	}
	
	//----------------------------------------------------------------
	// text-shadow none
	//----------------------------------------------------------------
	.ts_none {
		@each $prefix in $set_prefix {
			#{$prefix}text-shadow: none !important;;
		}
	}

	//----------------------------------------------------------------
	// box-shadow none
	//----------------------------------------------------------------
	.bs_none {
		@each $prefix in $set_prefix {
			#{$prefix}box-shadow: none !important;;
		}
	}
	
	//----------------------------------------------------------------
	// box-sizing
	//----------------------------------------------------------------
	.box_size {
		@each $prefix in $set_prefix {
			#{$prefix}box-sizing: border-box;
		}
	}
	