@charset "utf-8";

// ===================================================================
// |-layout/
// |  |-responsiveDesign
// |  |-gridDesign
// |-#contents
// |-#header
// |-#footer
// ===================================================================


// ===================================================================
// layout
// ===================================================================

	$base_width: 720px;   // ページ全体の横幅
	$column: 60px;  // 12 columns = 720px
	$gutter: 20px;  // 11 gutters = 220px
	
	//-----------------------------------------------------------------
	//	responsiveDesign
	//-----------------------------------------------------------------
	
	@mixin responsive($count:1){
	  width: percentage($column / $base_width * $count);
	}
	
	//-----------------------------------------------------------------
	//	gridDesign
	//-----------------------------------------------------------------
	
	@mixin grid-unit($span) {
	  float: left;
	  margin-right: $gutter-width;
	  width: ($column * $span) + ($gutter * ($span - 1));
	}

/*----------------------------------------------------
	#contents
----------------------------------------------------*/
#contents {
	.pageTop {
		clear: both;
		margin: 0;
		text-align: right;
	}
}

/*----------------------------------------------------
	#header
----------------------------------------------------*/
#header {
	width: $base_width;
	#nav {
		li {
			float: left;
		}
	}
}

/*----------------------------------------------------
	#footer
----------------------------------------------------*/
#footer {
	width: $base_width;
}
