@charset "utf-8";

/*----------------------------------------------------
	base
----------------------------------------------------*/
body {
	background: $base;
	color: $font_color;
}

a {
	&:link {
		color: $link;
	}
	&:visited {
		color: $visited;
	}
	&:hover {
		text-decoration: none;
		color: $hover;
	}
	&:active {
		color: $active;
	}
}

@import "layout";

/*----------------------------------------------------
	#main
----------------------------------------------------*/
#main {
	
}

/*----------------------------------------------------
	#sub
----------------------------------------------------*/
#sub {
	
}
