@charset "utf-8";
// ===================================================================
//  |-support
//  |-path
// 	|-html5
// 	|-CSS3
// 	|-fontSize
// 	|-color
// ===================================================================

// ===================================================================
// support
// ===================================================================

	$support-ie6: false;
	$support-ie7: false;
	$support-ie8: true;
	$support-ie9: true;
	$support-mozilla: true;
	$support-webkit : true;
	$support-opera  : true;

// ===================================================================
// path
// ===================================================================

	$img_path: "../common/images/hogehoge/";

// ===================================================================
// html5
// ===================================================================

	$use-html5: true;

// ===================================================================
// CSS3
// ===================================================================

	$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

// ===================================================================
// fontSize
// ===================================================================
	
	$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%,
	131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%,
	216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 
	300%, 308%;
	
	@function fz($size) {
		@if $size < 8 {
			$size: 8;
		}
		@if $size > 40 {
			$size: 40;
		}
		@return nth($fontSizeList, $size - 7);
	}

// ===================================================================
// color
// ===================================================================

	$base: #FFF; 
	$sub: #D6D6D6;
	$accent: #919191;
	$font_color: #333; 
	
	$link: #0000EE;
	$hover: #551A8B;
	$visited: #551A8B;
	$active: #0000EE; 
		
//----------------------------------------------------------------
//	opacity
//----------------------------------------------------------------

	$opacity_value: .55; 